#
# Queue information
#
# If use_queue is True, settings here will be used to submit to the job scheduler.
# If use_queue is False, jobs will be run serially in current shell.
#
<scheduler>
	use_queue 	= "True"
	partition 	= "bigmem"
	qos 		= "batch"
	account 	= "fv3-cpu"

	# CPU requirements are a per-lead-time setting. Each lead time will be submitted as a separate job
	walltime 	= "0:45:00"
	n_nodes		= "1"
	n_cpus 		= "8"
	memory		= "200GB"

	# use_queue = "False"
	# partition	= "theia"
	# qos 		= "debug"
	# walltime 	= "0:10:00"
</scheduler>

#
# Specify location to put output files. Output will be placed in:
#   $path/$EXP_NAME/$VAR_NAME/*.png
#
<output>
	log_dir 	= "/scratch4/NCEPDEV/ensemble/save/Walter.Kolczynski/reliability_plotting/slurm/logs"
	path = "/scratch4/NCEPDEV/ensemble/noscrub/Walter.Kolczynski/reliability_plots/test"
	remove_attribute_files = "True"   # Remove temporary attribute files afterwards, leave True except for NCL debugging
</output>

#
# Specify the forecast lead times to process.
#
<lead_time>
	start_lead_hr		= 0
	end_lead_hr		= 384
	# start_lead_hr		= 24
	# end_lead_hr			= 24
	lead_time_stride_hr	= 6
</lead_time>

#
# List of experiments to create plots for, defined like this:
# 	# EXP_NAME can be anything but must be unique among all experiments
# 	<experiment EXP_NAME> 
# 		# Data will be taken from $path/gefs.YYYYMMDD/HH/$grid_type
# 		path 			= "/scratch4/NCEPDEV/ensemble/noscrub/Walter.Kolczynski/GEFS/skeb_shum_500km"
# 		grid_type 		= "pgrb2a1p0"       # pgrb directory
# 		start 			= "2017080100"      # start time in YYYYMMDDHH format
# 		end 			= "2017083100"      # end time in YYYYMMDDHH, or the number of days
# 		frequency_fr	= 24                # forecast initialization frequency
# 	</experiment>
#
# Any number can be defined, as long as each EXP_NAME is unique. Plots will be created such that all
#  experiments will use the same scales.
#
<experiments>
	<experiment GEFS_FV3>
		path 			= "/scratch4/NCEPDEV/ensemble/noscrub/Walter.Kolczynski/GEFS/skeb_shum_500km"
		grid_type 		= "pgrb2a1p0"
		start 			= "2017080100"		# start time in YYYYMMDDHH format
		end 			= "2017083100" 		# end time in YYYYMMDDHH, or the number of days
		frequency_fr	= 24				# forecast initialization frequency
	</experiment>

	# <experiment GEFS_GSM_SP>
	# 	path 			= "/scratch4/NCEPDEV/ensemble/noscrub/Walter.Kolczynski/GEFS/co01"
	# 	grid_type 		= "pgrb2a"
	# 	start 			= "2017080100"		# start time in YYYYMMDDHH format
	# 	end 			= "2017083100" 		# end time in YYYYMMDDHH, or the number of days
	# 	frequency_fr	= 24				# forecast initialization frequency
	# </experiment>

	# <experiment GEFS_v11>
	# 	path 			= "/scratch4/NCEPDEV/ensemble/noscrub/Walter.Kolczynski/GEFS/prod"
	# 	grid_type 		= "pgrb2a"
	# 	start 			= "2017080100"		# start time in YYYYMMDDHH format
	# 	end 			= "2017083100" 		# end time in YYYYMMDDHH, or the number of days
	# 	frequency_fr	= 24				# forecast initialization frequency
	# </experiment>
</experiments>

#
# Definition for verification data. Only one should be defined.
#   For GDAS and consensus, data is expected in $path/$grid/YYYY/YYYYMM/
#
<verification>
	# Valid types: gdas, consensus, control
	path 	= "/scratch4/NCEPDEV/ensemble/noscrub/Walter.Kolczynski/GDAS"
	type 	= "gdas"
	grid 	= "1.0deg"
</verification>

#
# Definition for climatology data. Only one should be defined.
#   Data is expected in $path/$grid/
#
<climatology>
	path 	= "/scratch4/NCEPDEV/ensemble/noscrub/Walter.Kolczynski/climo"
	grid 	= "1.0deg"
</climatology>

# List of variables to process, each part of a <variable VAR_NAME> tag, each listed like this:
# 	<variable VAR_NAME>
# 		nice_name = "U"
# 		verification_name = "U_GRD_3_ISBL"
# 		ensemble_name = "UGRD_P1_L100_GLL0"
# 		climatology_name = "UGRD_P8_L100_GLL0"
# 	</variable>
# 
# VAR_NAME: Can be anything but must be unique, used to create directory names
# nice_name: Can be anything, used in titles
# verification_name: Name of variable* as used in variable files
# ensemble_name: Name of variable* as used in forecast files
# climatology_name: Name of variable* as used in climotology files
#
# For 4D fields, plots will be created for all levels available in both the forecast and verification
#
# * Variable names can be listed by using ncl_filedump $filename on one of the files
#
<variables>
	<variable U_ISBL>
		nice_name = "U"
		verification_name = "U_GRD_3_ISBL"
		ensemble_name = "UGRD_P1_L100_GLL0"
		climatology_name = "UGRD_P8_L100_GLL0"
	</variable>
	<variable U_HTGL>
		nice_name = "10-m U"
		verification_name = "U_GRD_3_HTGL"
		ensemble_name = "UGRD_P1_L103_GLL0"
		climatology_name = "UGRD_P8_L103_GLL0"
	</variable>

	<variable V_ISBL>
		nice_name = "V"
		verification_name = "V_GRD_3_ISBL"
		ensemble_name = "VGRD_P1_L100_GLL0"
		climatology_name = "VGRD_P8_L100_GLL0"
	</variable>
	<variable V_HTGL>
		nice_name = "10-m V"
		verification_name = "V_GRD_3_HTGL"
		ensemble_name = "VGRD_P1_L103_GLL0"
		climatology_name = "VGRD_P8_L103_GLL0"
	</variable>

	<variable Temp_ISBL>
		nice_name = "Temp"
		verification_name = "TMP_3_ISBL"
		ensemble_name = "TMP_P1_L100_GLL0"
		climatology_name = "TMP_P8_L100_GLL0"
	</variable>
	<variable Temp_HTGL>
		nice_name = "2-m Temp"
		verification_name = "TMP_3_HTGL"
		ensemble_name = "TMP_P1_L103_GLL0"
		climatology_name = "TMP_P8_L103_GLL0"
	</variable>

	<variable Height_ISBL>
		nice_name = "Height"
		verification_name = "HGT_3_ISBL"
		ensemble_name = "HGT_P1_L100_GLL0"
		climatology_name = "HGT_P8_L100_GLL0"
	</variable>
</variables>

<plots>
	# Entries here will be converted into resources that control NCL plots. See https://www.ncl.ucar.edu/Document/Graphics/Resources/
	<datatype error>
		cnFillPalette = cubehelix_wck1
	</datatype>

	<plottype map>
		# <datatype ratio>
		# 	cnMinLevelValF 	= -100.0
		# 	cnMaxLevelValF 	= 100.0
		# 	cnLevelSpacingF = 10.0
		# </datatype >
		#	<variable U_GRD_3_ISBL>
		#		<datatype error>
		#			cnMinLevelValF 	= 0.0
		#			cnMaxLevelValF 	= 20.0
		#			cnLevelSpacingF = 1.0
		#		</datatype >
		#	</variable>
		#	<variable V_GRD_3_ISBL>
		#		<datatype error>
		#			cnMinLevelValF 	= 0.0
		#			cnMaxLevelValF 	= 20.0
		#			cnLevelSpacingF = 1.0
		#		</datatype >
		#	</variable>
		#	<variable TMP_3_HTGL>
		#		<datatype error>
		#			cnMinLevelValF 	= 0.0
		#			cnMaxLevelValF 	= 14.0
		#			cnLevelSpacingF = 1.0
		#		</datatype >
		#	</variable>
		#	<variable HGT_3_ISBL>
		#		<datatype error>
		#			cnMinLevelValF 	= 0.0
		#			cnMaxLevelValF 	= 1100.0
		#			cnLevelSpacingF = 50.0
		#		</datatype >
		#	</variable>
	</plottype>

	<plottype zonal>
		# cnFillPalette = cubehelix_wck1
	</plottype>

	<plottype panel>

	</plottype>

</plots>



